@model AdminLTE1.Models.Course
@{
    ViewBag.Title = "Add Teacher";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<environment include="Development">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Teacher</h3>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="CourseName"></label>
                    <input asp-for="CourseName" class="form-control" placeholder="Name">
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseClassId"></label>
                    <input asp-for="CourseClassId" class="form-control" placeholder="Subject">
                    <span asp-validation-for="CourseClassId" class="text-danger"></span>
                </div>                
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
