
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>About</h1>

<p>BPS Consultants partners with our clients to improve the on-the-job performance of their employees. Our firm uses scientific and creative expertise in building experiential learning to help your organization capitalize on your talent to achieve your corporate business goals. When clients want behavior change that improves employee performance they come to our experts in learning design at Jordack Consultants.</p>
<p>Singular learning instances are outdated. Today’s learners seek a journey from concept to practice that includes accessible, bite-sized and contextualized experiences in varying formats. Digital learning delivers on that promise by integrating across all learning areas and domains and offering a learning expedition that’s scalable, accessible and malleable.</p>

