@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="text-center">
    <img style="width:1068px;height:550px; padding-top: 10px; object-fit:cover" src="~/Images/c.jpg" />
    <p></p>
</div>