@model IEnumerable<AdminLTE1.ViewModels.PermissionViewModelEx>

@{ foreach (var firstItem in Model)
    {
        @if (firstItem.Path == null)
        {

            @foreach (var secondItem in (Model.Where(s => s.ParentId == firstItem.Id).ToList()))
            {
                <li class="nav-item">
                    <a href="@secondItem.Path/@secondItem.Id" class="nav-link">

                        <i class="far fa-circle nav-icon"></i>
                        <p>@secondItem.Name</p>
                    </a>
                </li>
            }

        }
    }
}
