@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>

    #formStyle {
        background: white;
        padding: 30px 40px;
        margin: 100px 380px;
        box-shadow: 1px 0px 14px grey;
    }
</style>
<div class="row">
    <div class="col-md-5" id="formStyle">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
